:root {
    --color-green: hsl(216, 100%, 16%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-900: hsl(0, 0%, 8%);
    --spacing-10: 10px;
    --spacing-20: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-grey-900);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-white);
}


.container {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}



.container img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--color-white);
    transition: .5s;
}

.container:hover img {
    border-color: var(--color-green);
    transform: scale(1.1);
}

.container h1 {
    font-size: 40px;
    font-weight: 600;
    margin-block: var(--spacing-10);
    line-height: 1.2;
}

.container h2 {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-green);
    margin-bottom: var(--spacing-20);
}

.container p {
    font-weight: 400;
    margin-block-end: var(--spacing-20);
}

.social a {
    background-color: var(--color-grey-700);
    margin-block: var(--spacing-10);
    padding: var(--spacing-10);
    border-radius: var(--spacing-10);
    display: block;
    transition: .7s;
}

.social a:hover {
    background-color: var(--color-green);
    color: var(--color-grey-900);
    letter-spacing: 1px;
}
